@font-face {
  font-family: "iconfont"; /* Project id 4265030 */
  src: url('iconfont.woff2?t=1701506912126') format('woff2'),
       url('iconfont.woff?t=1701506912126') format('woff'),
       url('iconfont.ttf?t=1701506912126') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\e9a1";
}

.icon-star:before {
  content: "\e9a2";
}

.icon-star-half:before {
  content: "\e9a3";
}

.icon-quanbu-copy:before {
  content: "\e64f";
}

.icon-wode:before {
  content: "\e70b";
}

.icon-jushoucanggift:before {
  content: "\e684";
}

.icon-search:before {
  content: "\e65c";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-shangjiaduanicon-:before {
  content: "\e62f";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-sixin:before {
  content: "\e788";
}

.icon-xiaoyuan:before {
  content: "\e655";
}

.icon-shop06:before {
  content: "\e602";
}

.icon-ziyuan25:before {
  content: "\e608";
}

.icon-caidan-dakai:before {
  content: "\e6a4";
}

.icon-7hezuogongying:before {
  content: "\e603";
}

.icon-queding:before {
  content: "\e611";
}

.icon-qunliao:before {
  content: "\e60b";
}

.icon-xingqiu:before {
  content: "\e650";
}

.icon-huanyihuan:before {
  content: "\e65f";
}

.icon-tixing:before {
  content: "\e716";
}

.icon-31haoyou:before {
  content: "\e601";
}

.icon-chuangjiankecheng:before {
  content: "\e695";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-dkw_gonglve:before {
  content: "\e60a";
}

.icon-quanzi:before {
  content: "\e632";
}

